* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    max-width: 800px;
    min-height: 100px;
    max-height: 150px;
    height: 100%;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #000880;
    border-radius: 20px;
}

.container {
    width: 100%;
}

.form {
    width: 100%;
}

.form input, button {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #000880;
    border-radius: 10px;
}

.form button {
    max-width: 100px;
    color: #000880;
    background-color: white;
}

.form button:hover {
    max-width: 100px;
    color: white;
    background-color: #000880;
    cursor: pointer;
}